@charset "ISO-8859-1";
body {
  		font-family: Georgia, serif;
		background-image: url("images/websitebackground.jpg");
		background-size: 1640px 980px;
	}
	.nav
	{
		background-color: #FF7D33;
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
		width:100%;
	}
	.left
	{
		color: #ffffff;
		font-size:24px;
		font-weight:bold;
		float:left;
		width:50%;
		position: relative;
		left:30px;
	}
	.right
	{
		color: #ffffff;
		font-size:20x;
		font-weight:bold;
		float:right;
		width:50%;
		padding-top:4px;
		text-align:right;
		position: relative;
		right:8px;
	}
	a {
		background-color: #FF5833;
		border-radius: 10px;
		padding:5px;
	}
	a:hover {
        background-color: #990000;
    }
    